.contact-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: 'Roboto', sans-serif;
 }
 .connect-with{
   text-decoration: none;
   color: lightblue;
 }