.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 10px solid rgb(255, 0, 0);
  height: 15vh;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
  background-color: rgb(0, 0, 0);
  font-weight: 1000;
  z-index: 100;
 
}

.titles{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 25vw;
  
}

.home-nav{
  margin-left: 25px;
}

.nav-links{
  text-decoration: none;
  color:rgb(3, 184, 245);
  
}

.resume-links{
  text-decoration: none;
  color:rgb(3, 184, 245);
  margin: 25px 0px;
}

 @media only screen and (max-width: 3000px) {
  .nav-bar{
    height: 15%;
  }
  
}

@media only screen and (max-width: 1026px) {
  
  .nav-links{
    margin: 10px 5px;
  }

  .resume-links{
    margin: 35px 5px;
    margin-right: 44px;
  }
  
}

@media only screen and (max-width: 898px) {
  
  
  .resume-links{
    margin: 35px 5px;
    margin-right: 66px;
  }
  
}

@media only screen and (max-width: 830px) {
  
  

  .resume-links{
    margin: 35px 5px;
    margin-right: 88px;
  }
  
}



@media only screen and (max-width:734px) {
  
 
  .resume-links{
    margin: 35px 5px;
    margin-right: 111px;
  }
}

@media only screen and (max-width:650px) {

  .nav-bar{
    height: 10%;
  }
 
  .resume-links{
    margin: 35px 5px;
    margin-right: 125px;
  }
}

@media only screen and (max-width:594px) {
 
  .nav-bar{
    font-size: 20px;
    height: 5%;
    
  }
  .nav-links{
    margin: 15px 5px;
  }
  .resume-links{
    margin: 35px 5px;
    margin-right: 135px;
  }
}

@media only screen and (max-width:446px) {
  
  .nav-bar{
    font-size: 15px;
    
  }

  .nav-links{
    margin: 20px 5px;
  }
  .resume-links{
    margin: 35px 5px;
    margin-right: 95px;
  }
  
  
}

