.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 10px solid rgb(255, 255, 255);
  height: 15vh;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  background-color: black;
  
  z-index: 100;
}
.titles{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 25vw;
  
}

.home-nav{
  margin-left: 25px;
}

.nav-links{
  text-decoration: none;
  color:rgb(3, 184, 245);
  border: white;
}