#images-code{
  height: 100px;
  width: 100px;
}

.home-div,.bio-div,.skills-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.skills-list{
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 196px;
    margin-bottom:0 ;
}

.home-div{
  font-family: 'Roboto', sans-serif;
}

.pargraph-bio{
  width:854px;
  
}

.resume-link{
  text-decoration: none;
  font-size: 30px;
  color: black;
}

/* .info-p{
  margin:0;
} */