#images-code{
  height: 100px;
  width: 100px;
}

.home-div,.bio-div,.skills-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.skills-list{
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 196px;
    margin-bottom:0 ;
    font-weight: 1000;
    gap:11px
}

.skills-list li{
  margin: 0px 8px;
}

.skills-container{
  margin-right: 15%;
}

.home-div{
  font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;

}

.pargraph-bio{
  width:854px;
  line-height: 30px;
  font-weight: 1000;
  
}


.resume-link{
  text-decoration: none;
  font-size: 30px;
  color: black;
}

.bio-div{
  border: 10px solid #008ECC;
 
}

.resume{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links-to{
  display: flex;
  justify-content: space-around;
  margin: 15px;
  padding: 1em;

}



.resume-button,.project-button{
  border-radius:20px ;
  background-color: #008ECC;
  font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-size: 16px;
padding: 0.2em;
}

#git-link{
  margin: 0px 5px;
}

.projects-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width:1038px) {
  .icons{
    height: 50px;
    width: 50px;
  }
  
}


@media only screen and (max-width:918px) {
  .pargraph-bio{
    width:554px;
    line-height: 30px;
    font-weight: 1000;
    
  }
  
}

@media only screen and (max-width:706px) {
  .pargraph-bio{
    width:424px;
    line-height: 30px;
    font-weight: 1000;
        
  }
  
}

@media only screen and (max-width:628px) {
  .skills-div{
    width: 399px;
  }
  .info-p{
    margin-left: 56px;
  }

  .skills-list{
    margin-right: 70px;
  }

  .resume{
    margin: 20px 0px;
  }
  .home-div{
    font-size: 12px;
  }
  .resume-button,.project-button{
    font-size: 10px;
  }
  .resume-link{
    font-size: 21px;
  }
  .pargraph-bio{
    width:324px;
    line-height: 30px;
    font-weight: 1000;
    
        
  }
  
}

@media only screen and (max-width:450px) {
  .home-div{
    font-size: 9px;
  }
  .skills-div{
    width: 339px;
    font-size: 12px;
  }
  .info-p{
    margin-left: 56px;
  }

  .skills-list{
    margin-right: 70px;
  }
  .resume-button,.project-button{
    font-size: 9px;
  }

  .resume{
    margin: 20px 0px;
  }
  .pargraph-bio{
    width:224px;
    line-height: 30px;
    font-weight: 1000;
        
  }
  .icons{
    height: 30px;
    width: 30px;

  }
  
  
}

@media only screen and (max-width:370px) {
.pargraph-bio{
  margin: 0px;
}
  .skills-div{
    width: 240px;
  }

  .info-p{
    margin-left: 41px;
  }
  
  
}