.project-images{
  height: 200px;
  width:200px;
}
.project-div{
  display: flex;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
}



.projects{
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin: 0px 20px;
  margin-bottom: 15px;
  border: 3px solid black;
  background-color: none;
}

.project-1,.project-2,.project-3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  background-color: none;
  margin: 20px;
  padding: 10px;
  border: 5px solid black;
  font-size: larger;
  font-weight: bolder;
  
}

.projects-links{
  display: flex;
    justify-content: space-around;
    
   
    
}